<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>


  <!--<context-param>
          <param-name>org.apache.myfaces.trinidadinternal.DISABLE_CONTENT_COMPRESSION</param-name>
        <param-value>false</param-value>
    </context-param>
<context-param>
        <param-name>oracle.adfinternal.view.rich.libraryPartitioning.ENABLED</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.trinidad.DEBUG_JAVASCRIPT</param-name>
        <param-value>false</param-value>
    </context-param>-->

  <context-param>
    <description>If this parameter is true, there will be an automatic check of the modification date of your JSPs, and saved state will be discarded when JSP's change. It will also automatically check if your skinning css files have changed without you having to restart the server. This makes development easier, but adds overhead. For this reason this parameter should be set to false when your application is deployed.</description>
    <param-name>org.apache.myfaces.trinidad.CHECK_FILE_MODIFICATION</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Whether the 'Generated by...' comment at the bottom of ADF Faces HTML pages should contain version number information.</description>
    <param-name>oracle.adf.view.rich.versionString.HIDDEN</param-name>
    <param-value>false</param-value>
  </context-param>
   <context-param>
        <!-- Maximum memory per request (in bytes) -->
        <param-name>org.apache.myfaces.trinidad.UPLOAD_MAX_MEMORY</param-name>
        <!-- Use 500K -->
        <param-value>51200000</param-value>
    </context-param>
    <context-param>
      <param-name>oracle.adf.view.rich.automation.ENABLED</param-name>
      <param-value>false</param-value>
</context-param>
    <context-param>
        <!-- Maximum disk space per request (in bytes) -->
        <param-name>org.apache.myfaces.trinidad.UPLOAD_MAX_DISK_SPACE</param-name>
        <!-- Use 5,000K -->
        <param-value>512000000</param-value>
    </context-param>
  <!-- <filter>
     <filter-name>ACF</filter-name>
    <filter-class>oracle.adfinternal.view.faces.caching.filter.AdfFacesCachingFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>ACF</filter-name>
  <url-pattern>*</url-pattern>
  </filter-mapping>-->
  <!--<filter>
        <filter-name>
        loginFilter
        </filter-name>
        <filter-class>HRMS.view.base.SessionExpFilter</filter-class>
    </filter>
  
  <filter-mapping>
      <filter-name>loginFilter</filter-name>
      <url-pattern>*.jspx</url-pattern>
    </filter-mapping>-->
<filter>
    <filter-name>JpsFilter</filter-name>
    <filter-class>oracle.security.jps.ee.http.JpsFilter</filter-class>
    <init-param>
      <param-name>enable.anonymous</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>trinidad</filter-name>
    <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
  </filter>
  <filter>
        <filter-name>authFilter</filter-name>
        <filter-class>TurnQuest.view.Login.AuthenticationFilter</filter-class>
    </filter>
    
  <filter>
    <filter-name>adfBindings</filter-name>
    <filter-class>oracle.adf.model.servlet.ADFBindingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ADFLibraryFilter</filter-name>
    <filter-class>oracle.adf.library.webapp.LibraryFilter</filter-class>
  </filter>
  <filter>
      <filter-name>CompressingFilter</filter-name>
      <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
      <init-param>
         <param-name>debug</param-name>
         <param-value>true</param-value>
      </init-param>
      <init-param>
         <param-name>jakartaCommonsLogger</param-name>
         <param-value>com.planetj.servlet.filter.compression.CompressingFilter</param-value>
      </init-param>
</filter>
 <filter>
    <filter-name>SessionExpiredFilter</filter-name>
    <filter-class>TurnQuest.view.Base.SessionExpiredFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.js</url-pattern>
</filter-mapping>
<filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.css</url-pattern>
</filter-mapping>
<filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.jpg</url-pattern>
</filter-mapping>
<filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.gif</url-pattern>
</filter-mapping>
<filter-mapping>
        <filter-name>authFilter</filter-name>
        <url-pattern>/faces/*</url-pattern>
    </filter-mapping>
<filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.png</url-pattern>
</filter-mapping>
<filter-mapping>
      <filter-name>CompressingFilter</filter-name>
      <url-pattern>*.jspx</url-pattern>
</filter-mapping>
  <filter-mapping>
    <filter-name>trinidad</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adfBindings</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ADFLibraryFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
 
     
     
   
  
 <listener>
    <listener-class>oracle.adf.mbean.share.connection.ADFConnectionLifeCycleCallBack</listener-class>
  </listener>
  <listener>
    <listener-class>oracle.adf.mbean.share.config.ADFConfigLifeCycleCallBack</listener-class>
  </listener>
  
    <context-param>
            <param-name>quartz:shutdown-on-unload</param-name>
            <param-value>false</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:wait-on-shutdown</param-name>
            <param-value>true</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </context-param>
        <context-param>
            <param-name>quartz:config-file</param-name>
            <param-value>/WEB-INF/quartz.properties</param-value>
        </context-param>

        <listener>
            <listener-class>
                org.quartz.ee.servlet.QuartzInitializerListener
            </listener-class>
        </listener>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>resources</servlet-name>
    <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
  </servlet>
 <!-- <servlet>
        <servlet-name>OHW Links Servlet</servlet-name>
        <servlet-class>oracle.help.web.rich.OHWServlet</servlet-class>
        <init-param>
            <param-name>ohwConfigFileURL</param-name>
            <param-value>/helpsets/ohwconfig.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>-->
  <servlet>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <servlet-class>oracle.adfinternal.view.faces.bi.renderkit.graph.GraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <servlet-class>oracle.adfinternal.view.faces.bi.renderkit.gauge.GaugeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MapProxyServlet</servlet-name>
    <servlet-class>oracle.adfinternal.view.faces.bi.renderkit.geoMap.servlet.MapProxyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GatewayServlet</servlet-name>
    <servlet-class>oracle.adfinternal.view.faces.bi.renderkit.graph.FlashBridgeServlet</servlet-class>
  </servlet>
   <filter>
	    <filter-name>ApplicationSessionExpiryFilter</filter-name>
	    <filter-class>
	        TurnQuest.view.ApplicationSessionExpiryFilter
	    </filter-class>
            </filter>
  <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>TurnQuest.view.ImageServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>OrgImageServlet</servlet-name>
    <servlet-class>TurnQuest.view.servlets.OrgImageServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>OrgGrpImageServlet</servlet-name>
        <servlet-class>TurnQuest.view.models.OrgGrpImageServlet</servlet-class>
    </servlet>
    <filter-mapping>
	        <filter-name>ApplicationSessionExpiryFilter</filter-name>
	        <servlet-name>Faces Servlet</servlet-name>
	    </filter-mapping>
    <servlet>
        <servlet-name>ClientImagesServlet</servlet-name>
        <servlet-class>TurnQuest.view.servlets.ClientImagesServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>userSignatureServelet</servlet-name>
        <servlet-class>TurnQuest.view.servlets.userSignatureServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSignatureServlet</servlet-name>
        <servlet-class>TurnQuest.view.servlets.ClientSignatureServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>adflibResources</servlet-name>
    <servlet-class>oracle.adf.library.webapp.ResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckClientExistencePort</servlet-name>
    <servlet-class>webService.CrmWebService</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
 <!-- <servlet-mapping>
        <servlet-name>OHW Links Servlet</servlet-name>
        <url-pattern>/newhelp/*</url-pattern>
    </servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/adf/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/afr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGRAPHSERVLET</servlet-name>
    <url-pattern>/servlet/GraphServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BIGAUGESERVLET</servlet-name>
    <url-pattern>/servlet/GaugeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MapProxyServlet</servlet-name>
    <url-pattern>/mapproxy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resources</servlet-name>
    <url-pattern>/bi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GatewayServlet</servlet-name>
    <url-pattern>/flashbridge/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/imageservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OrgImageServlet</servlet-name>
    <url-pattern>/orgimageservlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrgGrpImageServlet</servlet-name>
        <url-pattern>/orggrpimageservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientImagesServlet</servlet-name>
        <url-pattern>/clientimagesservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSignatureServlet</servlet-name>
        <url-pattern>/clientsignatureservlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>userSignatureServelet</servlet-name>
        <url-pattern>/userSignatureServelet</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adflibResources</servlet-name>
    <url-pattern>/adflib/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckClientExistencePort</servlet-name>
    <url-pattern>/CheckClientExistencePort</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
   <env-entry>
      <description>Channel Manager URL</description>
      <env-entry-name>chMan</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>http://172.17.74.131:63081</env-entry-value>
    </env-entry>
  <env-entry>
      <description>Connection String</description>
      <env-entry-name>conn</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>jdbc/CRMDS</env-entry-value>
    </env-entry>
        <resource-ref>
      <res-ref-name>jdbc/CRMDS</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
